body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  p.hometown { 
    background: yellow;
  }

  div.myDiv {
    background: green;
  }

  p[id=my-Address]{
    background: red;
  }